:root {
	--accent-color: #0670c2;
	--premium-color: #fbc02d;
	--verified-color: #40c4ff;
	--ingame-bg-color: rgba(15, 15, 15, .2);
}

@keyframes hottext {
    25% {color: #f882ff;}50% {color: #9580ff;}75% {color: #04f0ff;}0%, 100% {color: #ff7c7c;} 
}

@font-face {
	font-family: gamefont;
	src: url(https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2) format('woff2');
}

@font-face {
	font-family: hpammo;
	src: url(https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2) format('woff2');
}

* {
    color: #000000;
}

[style*="color:#eb5656"] {
	color: var(--accent-color) !important;
}

[style*="color:#2196F3"] {
	color: var(--accent-color) !important;
}

[style*="color:#9eeb56"] {
	color: rgba(255, 255, 255, .6) !important;
}

[style*="font-size:20px;color:#fff;display:inline-block;"] {
	color: var(--accent-color) !important;
}

[style*="margin-top:10px;font-size:20px;color:rgba(255,255,255,0.4)"] {
	display: none !important;
}

#uiBase {
	height: 100% !important;
	width: 100% !important;
	transform: scale(1) !important
}

.settingPreset {
	display: none;
}

.settingsHeader {
	width: 100%;
	padding-bottom: 15px;
	padding-top: 19px;
	position: relative !important;
	top: 0;
	z-index: 1;
	background-color: transparent;
}

.changeText, .mailObj {
	color: rgba(255, 255, 255, 0.5);
}

#requiresRestart {
	display: none;
}

#serverSearch, #settSearch {
	border-radius: 0;
}

.serverHeader {
	background-color: transparent;
	position: relative;
}

.customImage {
	height: 1.66vh;
	margin-bottom: -.25vh
}

input:checked+.sliderCent:before {
	-webkit-transform: translateX(2.25vh);
	-ms-transform: translateX(2.25vh);
	transform: translateX(2.25vh)
}

#skinList {
	margin-top: 0 !important;
	text-align: center
}

#1 * {
	pointer-events: none !important;
}

#aHolder {
	display: none !important;
}

#braveWarning {
	display: none !important;
}

input {
	border-radius: 20px !important;
	background: rgba(0, 0, 0, .3) !important;
}

input[type=color] {
	margin-top: 0 !important;
	width: 2vw;
	height: 2vh
}

#menuVoteHolder {
	top: 220px
}

#matchVoteHolder {
	background-color: transparent;
}

#matchVoteHolder.isRanked {
	bottom: 210px !important
}

.matchVote {
	position: relative !important;
	float: left;
	border-radius: 20px !important;
	height: 9vh !important;
	margin: 0 !important;
	overflow: hidden;
	text-shadow: 0 0 .5vw rgba(0, 0, 0, 0) !important
}

.matchVoteThumb {
	position: relative;
	cursor: pointer;
	margin: 0 !important;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 20px !important;
	bottom: 0;
	transition-duration: .5s;
	filter: saturate(0) !important;
	width: auto;
	height: 9vh !important
}

.matchVoteThumb:hover {
	opacity: 1 !important;
	filter: saturate(1) !important;
	transform: none !important
}

.hostMap {
	border-radius: 0;
}

.classCard {
	text-shadow: none !important;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	margin: 0 !important;
	padding: 10px;
	width: 10.5vw;
	vertical-align: top;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 0px;
	display: inline-block;
	font-size: 1vw;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.selctInfoBtn {
	font-size: 16px;
	color: #fff;
	background-color: #00b800;
	width: fit-content;
	height: fit-content;
	margin-left: 0 !important;
	text-align: center;
	border-radius: 0px;
	cursor: pointer;
	pointer-events: auto
}

.classLvl {
	color: #fff;
	font-size: 1vw
}

.classWeap {
	position: relative;
	text-shadow: none;
	z-index: 0 !important;
	text-align: center;
	color: rgba(255, 255, 255, .7);
	font-size: 1vw;
	margin-top: -2px
}

.classXPBar {
	left: 5% !important;
	width: 90%;
	height: 2vh;
	border-radius: 0px;
	background-color: #242424
}

.clsXPBarC {
	margin: 0;
	background-color: var(--accent-color);
	height: 100%
}

.mapInfoB {
	z-index: 2;
	background-color: rgba(0, 0, 0, .8);
	top: 2.9vw !important;
	right: .75vw;
	text-shadow: unset;
	cursor: pointer;
	position: absolute;
	font-size: 1vw;
	padding: 3px;
	padding-left: 9px;
	padding-right: 9px;
	border-radius: 0px;
	color: #fff;
	transition: .1s;
	-webkit-transition: .1s
}

.itemOwn {
	text-align: center;
	color: rgba(255, 255, 255, .7);
	font-size: .8vw !important;
	margin-top: .1vh !important
}

.classImgC {
	position: relative;
	z-index: -1 !important;
	border-radius: 0px;
	margin-top: 1vh;
	width: 100%
}

.hostMapImg {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all .2s
}

#classPreviewCanvas {
	margin-bottom: -100px
}

#teamSelector {
	bottom: 150px !important;
}

#teamSelector #teamNm1 {
	float: left !important;
	margin-right: .5vw;
	font-size: 1vw;
	transition-duration: .5s
}

#teamSelector #teamNm2 {
	float: left !important;
	font-size: 1vw;
	margin-left: .5vw;
	transition-duration: .5s
}

#teamSelector .switchsml.centSwitch {
	float: left !important;
	bottom: .5vh
}

#menuFPSDisplay {
	margin-top: .5vh
}

#menuFPS {
	color: var(--accent-color) !important;
	font-size: 12px;
}

#menuPingIcon {
	color: var(--accent-color) !important;
}

#menuPingText {
	font-size: 12px;
}

.mailObj {
	border-radius: 0;
}

.mailFrom {
	color: var(--accent-color);
}

.mailText {
	color: var(--accent-color);
}

.imageButton {
	display: none !important;
}

#menuClassName {
	font-size: 1.25vw !important;
	position: absolute;
	top: 25vh;
	text-shadow: 0 0 .5vw rgba(0, 0, 0, 0) !important
}

#menuClassSubtext span {
	font-size: 1.5vw !important;
	text-shadow: 0 0 .5vw rgba(0, 0, 0, 0) !important
}

#menuClassSubtext {
	font-size: 1vw !important;
	position: absolute;
	top: 22vh
}

.menuClassPlayerPremium {
	color: var(--premium-color) !important;
}

.menuClassPlayerVerified {
	color: var(--verified-color) !important;
}

#infoHolder * {
	font-size: 1vw !important
}

.menuSelector, .menuSelectorHeader {
	font-size: 1vw
}

.menuSelectorHeader {
	margin-bottom: 5px;
	width: 33vw;
	display: inline-block;
	color: var(--accent-color);
}

#classPreviewCanvas {
	position: absolute
}

#timerDisplay {
	text-align: center !important;
	width: 85px;
	border-radius: 0;
	background-color: var(--ingame-bg-color);
}

#timerIcon {
	display: none;
}

#fpsDisplay, #pingDisplay {
	font-size: 18px;
}

#pingText {
	font-size: 18px;
}

#ingameFPS {
	color: var(--accent-color) !important;
}

#pingIcon {
	color: var(--accent-color) !important;
}

#pingDisplay .material-icons {
	font-size: 20px;
}

#teamScores {
	border-radius: 0px;
	background-color: var(--ingame-bg-color);
}

.tScoreC {
	background-color: var(--accent-color)
}

.tScoreC.you {
	background-color: #fff
}

#leaderDisplay {
	border-radius: 0;
	background-color: var(--ingame-bg-color);
}

#leaderCopy {
	position: absolute;
	text-align: left;
	float: right;
	width: 310px;
	z-index: 4;
	top: 20vh;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(255, 255, 255, .7);
	font-size: 23px;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 0;
}

.newLeaderContainer {
	border-radius: 0;
	background-color: var(--ingame-bg-color);
}

.newLeaderName, .newLeaderNameM, .newLeaderNameF {
	color: var(--accent-color);
}

#leaderContainer i[style*="color:#FBC02D"] {
	color: var(--premium-color) !important;
}

#leaderContainer i[style*="color:#40C4FF"] {
	color: var(--verified-color) !important;
}

.kfItem {
	border-radius: 0;
	background-color: var(--ingame-bg-color);
}

.topRightCounters {
	float: right;
	clear: right;
}

.weaponItem {
	margin-top: 0;
}

.weaponItem img {
	height: auto;
	width: 8vw;
}

#updateTwitchUser {
	font-size: .75vw !important;
	padding: .5vw !important;
	padding-bottom: 1vh !important;
	margin-top: .5vh;
	background: #644164;
	border: none;
	float: right
}

tr td:nth-child(2) {
	max-width: 10vw !important;
	overflow: hidden
}

.votedMap img {
	filter: saturate(1) !important
}

.shopSale {
	position: absolute;
	font-size: .75vw;
	color: #fff;
	width: 100%;
	top: auto !important;
	height: auto !important;
	bottom: 6vh;
	text-align: center;
	margin: 0;
	padding: 0;
	left: 0;
	line-height: 1.5vw;
	opacity: .75;
	text-shadow: none
}

.shopCard {
	cursor: pointer;
	pointer-events: auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background-size: contain;
	text-align: center;
	margin-bottom: 1vh !important;
	margin-left: 0;
	width: 10vw;
	height: 14.3vh;
	vertical-align: top;
	border-radius: 0;
	display: inline-block;
	font-size: 1vw;
	position: relative;
	padding-bottom: 4px;
	z-index: 1;
	text-shadow: none;
}

.purBtn {
	font-size: 1vw !important;
	color: #fff;
	background-color: rgba(61, 61, 61, .5);
	width: 100%;
	text-align: center;
	top: 0;
	border-radius: 0px;
	margin: 0;
	margin-top: 8.33vh;
	cursor: pointer;
	line-height: 1.5vw;
	padding: 0;
	pointer-events: auto
}

.punishButton:hover {
	filter: saturate(.5)
}

.punishButton {
	color: rgba(255, 255, 255, .7);
	text-align: center;
	display: inline-block;
	cursor: pointer;
	background-color: #ed4242;
	font-size: 1vw;
	margin-right: 5px;
	border-radius: 0;
	padding-left: 7px;
	padding-right: 7px
}

#getOauthToken {
	font-size: .75vw !important;
	padding: .5vw !important;
	padding-bottom: 1vh !important;
	margin-top: 0;
	background: #644164;
	border: none;
	float: right
}

#reloadExtraChannels {
	font-size: .75vw !important;
	padding: .5vw !important;
	padding-bottom: 1vh !important;
	margin-top: 0;
	background: #644164;
	border: none;
	float: right
}

#openChannelList {
	font-size: .75vw !important;
	padding: .5vw !important;
	padding-bottom: 1vh !important;
	margin-top: 0;
	background: #644164;
	border: none;
	float: right
}

.extraChannel {
	background: rgba(100, 100, 100, 1) !important;
	border: none !important;
	border-radius: 20px !important;
	color: rgba(255, 255, 255, 1) !important;
	width: 95%;
	float: left;
	position: relative;
	font-size: .75vw !important;
	margin-left: .25vw;
	margin-top: -.125vw;
	text-align: center;
	height: 2.5vh;
	padding: .125vw !important
}

#regionPriority span {
	line-height: 2vw
}

.serverPCount, .serverRegion {
	color: inherit;
	float: right
}

.chalProg {
	position: absolute;
	color: #fff;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	padding-top: 4px;
	right: 0;
	font-size: 17px
}

.rankedELO {
	position: absolute;
	z-index: 1;
	height: 6vh;
	top: auto;
	left: -.33vw;
	bottom: 1vh;
	transform: none !important;
	cursor: pointer;
	filter: drop-shadow(0 0 .5vw #000)
}

#rankedPartyKey+span {
	display: inherit;
	margin-top: .5vh !important
}

#seasonLabel {
	display: none !important;
	font-size: 15px;
	color: #fff;
	background-color: #c93fe8;
	height: 34px;
	box-shadow: inset 0 -7px 0 0 #672992 !important;
	position: absolute;
	z-index: 1;
	top: 70px;
	left: 46%;
	margin-left: 242px;
	border-radius: 0px;
	padding: 5px;
	padding-left: 12px;
	padding-right: 12px;
	transform: translateX(-50%) rotate(6.5deg);
	text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020
}

#showHideFilter, #showHideToken {
	font-size: .75vw !important;
	padding: .25vw !important;
	background: #8e8e8e;
	border: none;
	float: right;
	border-radius: 0px;
	cursor: pointer;
	margin-left: .5vw
}

#hudClassIcon {
	display: none;
}

.sliderCent {
	border-radius: 0;
	background-color: rgba(0, 0, 0, .3);
}

.sliderCent:before {
	position: absolute;
	content: "";
	height: 1vw;
	width: 1vw;
	background-color: var(--accent-color);
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 0%
}

#scoreTextHolder {
	width: fit-content !important
}

#accResp {
	display: none
}

#moveLine {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height: 2%;
	width: 100%;
	background-color: #171717;
	pointer-events: all;
	z-index: 99999999999;
	-webkit-app-region: drag
}

.skinCard img {
	cursor: pointer;
	transition-duration: .25s;
	transform: scale(.8);
	pointer-events: all
}

.skinImg {
	width: 80%;
	transform: scale(1)
}

#menuWindow>div:nth-child(2) {
	background-color: transparent !important;
	width: 100% !important
}

.skinImgC {
	margin-top: 0 !important;
	transform: scale(1)
}

.skinRandom {
	position: absolute;
	transform: scale(.75);
	top: 0;
	left: 0
}

.skinCard img:hover {
	transform: scale(1)
}

.spinVal {
	color: var(--accent-color);
}

#spinRespin {
	z-index: 99999999999;
	position: absolute !important;
	left: 50%;
	width: 9vw;
	bottom: -3vw;
	transform: translate(-50%, 0);
	padding-left: 22px;
	padding-right: 22px
}

#spinRespin i {
	color: #fff
}

#bubbleContainer {
	-webkit-transition: .2s !important;
	position: absolute !important;
	right: 11vw !important;
	top: calc(50% - 9vh) !important;
	transform: scale(0);
	transition: .2s !important;
	z-index: 99999 !important
}

#challText {
	color: #fd3434;
	float: left;
	font-size: 21px;
	position: relative;
	text-shadow: none !important
}

#speedometer {
	z-index: 6;
	display: block;
	position: absolute;
	font-size: 2vw;
	color: var(--accent-color);
	top: 54%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -46%);
	will-change: transform
}

#plzupdate {
	position: absolute;
	top: 11vw;
	left: 32vw;
	text-align: center;
	color: var(--accent-color)
}

#claimImg, #merchImg {
	height: 7vh
}

#claimTimer {
	color: rgba(255, 255, 255, .6);
	font-size: 14px;
	margin-top: -3px
}

#healthValueHolder {
	background-color: transparent;
	width: 100px;
	height: 65px;
	border-radius: 0;
	position: fixed;
	left: 30%;
	bottom: 25%;
	padding: 0;
	margin-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	align-items: center;
}

#bottomLeftHolder {
	text-align: center;
}

#healthValue {
	color: var(--accent-color);
	font-family: hpammo;
	font-size: 48px;
	font-weight: 500;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
	margin-top: 0;
}

#maxHP {
	display: none;
}

#deathsVal, #killsVal, #livesDisp, #streakVal, #myScoreVal {
	bottom: 7px;
	position: relative;
}

#deathCount, #killCount, #livesCount, #streakCount, #scoreCount {
	background-color: var(--ingame-bg-color);
	border-radius: 0;
	padding: 7px;
}

.leaderName {
	color: var(--accent-color);
}

.leaderName span[style*='color:#FBC02D'], .newLeaderName span[style*='color:#FBC02D'], .leaderNameM span[style*='color:#FBC02D'], .newLeaderNameM span[style*='color:#FBC02D'], .newLeaderNameF span[style*='color:#FBC02D'] {
	animation: hottext 3s infinite !important;
}

.terms {
	color: var(--accent-color);
}

.terms:hover {
	text-decoration: none;
	color: #fff;
}

.standout::before {
	content: 'frosty kinda hot';
	font-size: 18px;
	margin-right: 22px;
	color: rgba(255, 255, 255, .5);
	visibility: visible;
}

.grey {
	color: var(--accent-color) !important;
}

.grey:active {
	color: var(--accent-color) !important;
}

.grey:visited {
	color: var(--accent-color) !important;
}

a {
	color: var(--accent-color);
}

a:active {
	color: #ffffff
}

a:hover {
	color: #ffffff
}

a:visited {
	color: var(--accent-color)
}

.subPassChg {
	background-color: transparent;
	color: var(--accent-color);
}

.subPassChg:hover {
	background-color: transparent;
	color: #fff;
	transform: none;
}

.creatorCodeBtn {
	background-color: transparent !important;
	color: var(--accent-color);
}

.creatorCodeBtn:hover {
	background-color: transparent !important;
	color: #fff;
	filter: none;
	-webkit-filter: none;
}

.redVouchBtn {
	background-color: transparent;
	color: var(--accent-color);
}

.redVouchBtn:hover {
	background-color: transparent;
	color: #fff;
}

#levelContainer .progressBar {
	height: .25vw !important;
	width: 5vw !important
}

.progressBarInner {
	background: var(--accent-color);
}

.clsXPBarC {
	background-color: var(--accent-color);
}

#mainLogo {
	transform: scale(0.6);
	content: url(../img/logo_4.png) !important
}

#mapInfo {
	display: inline-block !important;
	margin-bottom: 1vh !important;
}

#mapName {
	color: #fff;
	float: right;
	font-size: 18px;
	margin: 0;
	position: relative;
	right: -10px;
	top: 5px
}

#menuAccountUsername {
	font-size: 16px;
}

#menuBtnBrowser {
	background-color: rgba(0, 0, 0, 0) !important;
	color: var(--accent-color) !important;
	box-shadow: none !important;
}

#menuBtnBrowser:hover {
	color: #ffffff !important;
}

#menuBtnRanked {
	background-color: rgba(0, 0, 0, 0) !important;
	color: var(--accent-color) !important;
	box-shadow: none !important;
}

#menuBtnRanked:hover {
	color: #ffffff !important;
}

#menuBtnHost {
	background-color: rgba(0, 0, 0, 0) !important;
	color: var(--accent-color) !important;
	box-shadow: none !important;
}

#menuBtnHost:hover {
	color: #ffffff !important;
}

#inviteButton {
	background-color: rgba(0, 0, 0, 0) !important;
	color: var(--accent-color) !important;
	box-shadow: none !important;
}

#inviteButton:hover {
	color: #ffffff !important;
}

#menuBtnJoin {
	background-color: rgba(0, 0, 0, 0) !important;
	color: var(--accent-color) !important;
	box-shadow: none !important;
}

#menuBtnJoin:hover {
	color: #ffffff !important;
}

#menuClassContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	pointer-events: none;
	position: absolute;
	right: 0;
	left: auto;
	bottom: 41.5vh !important;
	width: 18vw;
	height: 27vh;
	top: auto !important
}

#menuLevelIcon {
	display: none;
}

#menuLevelText {
	font-size: 16px;
}

.teamTotals {
	backdrop-filter: blur(5px);
	border-radius: 0;
	background-color: transparent;
}

.teamTotalN0 {
	color: #fff;
}

.teamTotalN1 {
	color: var(--accent-color);
}

.endTableN span[style*="color:#FBC02D"] {
	animation: hottext 3s infinite !important;
}


.iconProfile {
	background-image: url(../img/menu-icons/profile.png)
}

.menuItem:hover .iconProfile {
	background-image: url(../img/menu-icons/profile-white.png)
}

.iconRanked {
	background-image: url(../img/menu-icons/ranked.png)
}

.menuItem:hover .iconRanked {
	background-image: url(../img/menu-icons/ranked-white.png)
}

.iconShop {
	background-image: url(../img/menu-icons/shop.png)
}

.menuItem:hover .iconShop {
	background-image: url(../img/menu-icons/shop-white.png)
}

.iconSocial {
	background-image: url(../img/menu-icons/social.png)
}

.menuItem:hover .iconSocial {
	background-image: url(../img/menu-icons/social-white.png)
}

.iconMaps {
	background-image: url(../img/menu-icons/maps.png)
}

.menuItem:hover .iconMaps {
	background-image: url(../img/menu-icons/maps-white.png)
}

.iconGames {
	background-image: url(../img/menu-icons/games.png)
}

.menuItem:hover .iconGames {
	background-image: url(../img/menu-icons/games-white.png)
}

.iconMods {
	background-image: url(../img/menu-icons/mods.png)
}

.menuItem:hover .iconMods {
	background-image: url(../img/menu-icons/mods-white.png)
}

.iconSettings {
	background-image: url(../img/menu-icons/settings.png)
}

.menuItem:hover .iconSettings {
	background-image: url(../img/menu-icons/settings-white.png)
}

.iconChall {
	background-image: url(../img/menu-icons/chall.png)
}

.menuItem:hover .iconChall {
	background-image: url(../img/menu-icons/chall-white.png)
}

.discordSocial {
	background-image: url(../img/social-buttons/discord-normal.png)
}

.discordSocial:hover {
	background-image: url(../img/social-buttons/discord-hover.png)
}

.discordSocial:active {
	background-image: url(../img/social-buttons/discord-pressed.png)
}

.downloadClient {
	background-image: url(../img/social-buttons/down_normal.png)
}

.downloadClient:hover {
	background-image: url(../img/social-buttons/down_hover.png)
}

.downloadClient:active {
	background-image: url(../img/social-buttons/down_pressed.png)
}

.redditSocial {
	background-image: url(../img/social-buttons/reddit-normal.png)
}

.redditSocial:hover {
	background-image: url(../img/social-buttons/reddit-hover.png)
}

.redditSocial:active {
	background-image: url(../img/social-buttons/reddit-pressed.png)
}

.twitterSocial {
	background-image: url(../img/social-buttons/twitter-normal.png)
}

.twitterSocial:hover {
	background-image: url(../img/social-buttons/twitter-hover.png)
}

.twitterSocial:active {
	background-image: url(../img/social-buttons/twitter-pressed.png)
}

.fandomSocial {
	background-image: url(../img/social-buttons/fandom-normal.png)
}

.fandomSocial:hover {
	background-image: url(../img/social-buttons/fandom-hover.png)
}

.fandomSocial:active {
	background-image: url(../img/social-buttons/fandom-pressed.png)
}

#spinHolder {
	transform: scale(0.9) !important
}

#tabHolder {
	border-radius: 0;
	background-color: transparent;
}

.tabHeader {
	color: var(--accent-color);
}

.tabHeader:hover {
	color: #fff;
	border-bottom: none;
}

.tabHeader.selected {
	color: #fff;
	border-bottom: none;
}

.endSection {
	background-color: transparent;
}

.gfSection {
	background-color: transparent;
}

.modeStatus {
	color: var(--accent-color) !important;
}

.fundsVal {
	color: #fff;
}

#kdLayout {
	background-color: transparent;
	border: none;
}

.crStat {
	background-color: transparent;
	border: none;
}

.crLabel {
	color: #fff;
}

.crVal {
	color: var(--accent-color);
}

.xpRnk {
	width: 0;
}

.xpLvl {
	color: #fff;
}

.xpEndBar {
	border-radius: 0;
	background-color: rgba(0, 0, 0, .5);
}

.xpEndBarB {
	background-color: var(--accent-color);
}

#medalTable {
	background-color: transparent;
}

#menuMiniProfilePic {
	border-radius: 0vw !important;
	height: 2.5vw !important;
	image-rendering: pixelated !important;
	margin-right: .5vw !important;
	width: 2.5vw !important
}

#menuWindow {
	background-color: #83bd8c4d;
	backdrop-filter: blur(5px);
	left: 30.25vw !important;
	box-shadow: none;
	border-radius: 20px !important;
	padding: 1% !important;
	width: 37.66vw !important;
	max-height: 65% !important;
	z-index: 2 !important;
	transform: none;
	bottom: 150px;
}

#extraChannelList {
	background-color: rgba(100, 65, 100, 1);
	border-radius: 20px !important;
	bottom: 20vh;
	top: auto !important;
	box-shadow: 0 .5vw 0 0 #070707 !important;
	display: inline-block !important;
	left: 43vw !important;
	right: auto !important;
	max-height: calc(100% - 33%) !important;
	overflow-y: auto !important;
	padding: 1% !important;
	pointer-events: auto !important;
	position: absolute !important;
	text-align: center !important;
	transform: none !important;
	width: 16.66vw !important;
	z-index: 3 !important
}

.deleteCan {
	position: relative;
	margin-right: -.5vw;
	float: left
}

#pickColor {
	position: absolute;
	top: -.75vh;
	right: 1.25vw;
	border: none
}

#rgbColor {
	position: absolute;
	top: 2.5vw;
	right: 2.5vw;
	width: 4.5vw;
	height: 4.5vw;
	border: none
}

#menuItemContainer {
	top: 6.5vh;
	width: 130px;
}

.menuItem {
	background: rgba(0, 0, 0, 0);
}

.menuItem:hover {
	background: rgba(0, 0, 0, 0);
}

.menuItem:active {
	background: rgba(0, 0, 0, 0);
}

.menuItemTitle {
	color: var(--accent-color) !important
}

#menuBtnChall {
	font-size: 16px !important;
}

#merchHolder {
	display: none !important;
	position: absolute !important
}

#modDropper p {
	color: rgba(255, 255, 255, .25) !important;
	font-size: 1vw !important;
	height: 100% !important;
	line-height: 4vw !important;
	margin-top: 1vw !important;
	text-align: center !important;
	width: 100% !important
}

#modURL {
	width: 78% !important
}

#healthBar {
	display: none;
}

#challIcon {
	display: none;
}

#challIcon2_left, #normalIcon2_left {
	float: left;
	height: 36px;
	position: relative;
	right: 8px;
	top: 22px
}

#challIcon2_right, #normalIcon2_right {
	float: left;
	height: 36px;
	left: 8px;
	position: relative;
	top: 22px
}

#challIconHolder, #normalIconHolder {
	position: absolute;
	top: 540px
}

#normalText {
	color: #fd34b0;
	float: left;
	font-size: 21px;
	position: relative;
	text-shadow: none !important
}

#recTimer {
	color: #fff !important;
	font-size: .8vw !important;
	vertical-align: top !important
}

#signedInHeaderBar, #signedOutHeaderBar {
	background-color: transparent !important;
}

.strmLink {
	color: #cbdbff !important;
	font-size: 1vw !important;
	position: relative
}

#streamContainer {
	top: 60px;
	right: 10px;
	font-size: 16px;
	color: rgba(255, 255, 255, .5);
	visibility: hidden;
}

.streamItem {
	display: none;
}

#subLogoButtons {
	position: absolute !important;
	top: auto !important;
	bottom: 0% !important;
	left: 50%;
	right: auto !important;
	transform: translate(-50%, -50%) !important;
	text-align: center
}

span.gray {
	color: rgba(100, 100, 100, 1) !important
}

.jrAccept {
	cursor: pointer;
	background-color: #34fd34 !important;
	border-radius: 0px;
	border: none;
	color: #171717;
	margin-right: 4px;
	transition-duration: .25s;
	opacity: .5
}

.jrAccept:hover, .jrReject:hover {
	opacity: 1
}

.jrReject {
	cursor: pointer;
	background-color: #fd3434 !important;
	border-radius: 0px;
	border: none;
	color: #171717;
	transition-duration: .25s;
	opacity: .5
}

#subLogoButtons>.button {
	font-size: 18px !important;
}

#subLogoButtons>.button:hover {
	-webkit-transform: none;
	transform: none;
}

#uiBase.onMenu #spectButton {
	align-items: center !important;
	color: rgba(255, 255, 255, .5) !important;
	display: flex !important;
	font-size: 1vw !important;
	position: absolute !important;
	left: 92.3vw !important;
	right: 0 !important;
	top: 66vh !important;
	width: 10vw;
	height: fit-content;
	bottom: 0 !important;
	z-index: 9 !important
}

#uiBase.onMenu #spectButton span {
	color: var(--accent-color) !important;
	font-size: 1vw !important
}

#uiBase.onMenu #mapInfoHolder {
	align-items: flex-end !important;
	bottom: 1vw !important;
	display: flex !important;
	flex-direction: column !important;
	pointer-events: all !important;
	position: absolute !important;
	right: 1vw !important
}

#voiceDisplay {
	bottom: 7.33vw !important;
	left: 26vw !important;
	opacity: 0;
	display: none !important;
	transition-duration: .25s
}

#voiceIcon {
	color: #fff !important;
	font-size: 1.6vw !important
}

#windowHeader {
	color: rgba(255, 255, 255, .6) !important;
	display: none !important;
	font-size: 1vw !important;
	text-transform: uppercase !important
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	background-color: transparent !important;
}

::-webkit-scrollbar {
	width: 4px !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.accountButton {
	background-color: transparent;
	color: var(--accent-color);
	cursor: pointer !important;
	display: inline-block !important;
	font-size: 1vw !important;
	margin-top: .5vw !important;
	padding: .5vw !important;
	text-align: center !important;
	width: 42.9% !important;
	border-radius: 0px;
}

.accountInput {
	background-color: rgba(0, 0, 0, .3) !important;
	border: none !important;
	border-bottom: none !important;
	box-sizing: border-box !important;
	color: rgba(255, 255, 255, 1) !important;
	font-size: 1vw !important;
	margin-top: .5vw !important;
	padding: .5vw !important;
	width: 100% !important;
	border-radius: 0px;
}

.activeSkin {
	border: .1vw solid #fff !important
}

#instructions {
	position: absolute;
	z-index: 9;
	color: var(--accent-color);
	font-size: 24px;
	animation: none;
	-webkit-animation: none;
}

.timestamp {
	font-style: normal !important;
	color: #969696 !important;
	pointer-events: all;
	user-select: text
}

#copyViewModel {
	font-size: .75vw !important;
	padding: .5vw !important;
	padding-bottom: 1vh !important;
	margin-top: .5vh;
	background: #414c64;
	border: none;
	float: right
}

#copySens {
	font-size: .75vw !important;
	padding: .5vw !important;
	padding-bottom: 1vh !important;
	margin-top: .5vh;
	background: #414c64;
	border: none;
	float: right
}

.button {
	-webkit-transition: all .2s !important;
	background-color: var(--accent-color);
	border-radius: 20px !important;
	box-shadow: inset 0 -.33vw 0 0 var(--accent-color);
	box-sizing: border-box !important;
	color: #fff !important;
	cursor: pointer !important;
	display: inline-block;
	font-size: 1.25vw !important;
	padding: .75vw .5vw !important;
	pointer-events: all !important;
	position: relative !important;
	text-align: center !important;
	text-shadow: none !important;
	transition: all .2s !important
}

.button.lgn {
	background-color: transparent;
	color: var(--accent-color) !important;
	font-size: 1vw !important;
	padding-left: 1vw !important;
	padding-right: 1vw !important;
	padding-top: 1vh !important;
	width: fit-content !important;
	height: fit-content !important;
	box-shadow: none;
}

.button:hover {
	background-color: var(--accent-color);
	box-shadow: none;
	-webkit-transform: scale(.95);
	transform: scale(.95)
}

.button.lgn:hover {
	background-color: transparent;
	color: #fff !important;
	box-shadow: none;
	-webkit-transform: none;
	transform: none;
}

.button.small {
	font-size: 1.25vw !important;
	padding: .5vw .75vw 1vw !important;
	text-shadow: none !important
}

.hideMessage {
	display: none !important
}

.hideUnsafeMessage {
	display: none !important
}

.unsafeMessage {
	background-color: rgba(249, 41, 41, .5) !important
}

.formInput {
	background: rgba(0, 0, 0, .3) !important;
	border: none;
	border-radius: 0;
	box-shadow: none;
	float: right;
	font-size: .9vw !important;
	outline: 0;
	padding: 10px;
	pointer-events: auto
}

.headerBar {
	align-items: center !important;
	background-color: rgba(0, 0, 0, .5) !important;
	display: flex;
	flex-direction: row !important;
	height: fit-content !important;
	padding-left: .75vw !important;
	padding-right: .75vw !important;
	padding-top: .75vh !important;
	padding-bottom: .75vh !important;
	pointer-events: auto !important;
	position: absolute !important;
	top: 0 !important
}

.verticalSeparator {
	background-color: transparent;
}

.headerBarLeft {
	background-color: transparent !important;
	border-radius: 20px !important;
	left: 0 !important;
	height: 5vh !important;
	padding-bottom: 0.7vh !important
}

.headerBarRight {
	background-color: transparent !important;
	border-radius: 20px !important;
	right: -3px !important
}

.headerBarRight .verticalSeparator {
	display: none;
}

.headerBarRight.imageButton {
	-webkit-transition: all .2s !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	cursor: pointer !important;
	display: inline-block !important;
	height: 2.5vw !important;
	margin-left: .25vw !important;
	pointer-events: all !important;
	transition: all .2s !important;
	width: 2.5vw !important
}

.hostPresetBtn {
	background-color: transparent !important;
	border-radius: 20px !important;
	color: var(--accent-color) !important;
	cursor: pointer !important;
	float: right !important;
	font-size: 1vw !important;
	margin-left: .5vw !important;
	margin-top: .25vw !important;
	padding: .25vw !important;
	text-align: center !important;
	width: 4vw !important
}

.hostPresetBtn:hover {
	color: #fff !important;
}

.krSocial {
	display: none;
}

.inputGrey3 {
	background: rgbargba(0, 0, 0, .3)!important;
	border: none !important;
	border-radius: 0vw !important;
	color: rgba(255, 255, 255, 1) !important;
	float: right !important;
	font-size: .75vw !important;
	height: 1.25vw;
	width: 20vw;
	padding: .125vw !important;
	text-overflow: ellipsis !important
}

#rankedPartyKey {
	background: rgba(0, 0, 0, .3)!important;
	border: none !important;
	border-radius: 0vw !important;
	color: rgba(255, 255, 255, 1) !important;
	float: left !important;
	font-size: .75vw !important;
	height: 1.5vw;
	padding: .125vw !important;
	text-overflow: ellipsis !important
}

.inputGrey2 {
	background: rgba(0, 0, 0, .3)!important;
	border: none !important;
	border-radius: 0vw !important;
	color: rgba(255, 255, 255, 1) !important;
	float: right !important;
	font-size: .75vw !important;
	height: 1.25vw;
	padding: .125vw !important;
	text-overflow: ellipsis !important
}

.inputGrey4 {
	background: rgba(100, 100, 100, 1) !important;
	border: none !important;
	border-radius: 0vw !important;
	color: rgba(255, 255, 255, 1) !important;
	float: right !important;
	margin-right: 1vw !important;
	font-size: .75vw !important;
	height: 1.25vw;
	padding: .125vw !important;
	text-overflow: ellipsis !important
}

.leftUIB2 {
	background-color: rgba(0, 0, 0, .5);
	padding: 0 10px
}

.material-icons {
	font-family: 'Material Icons' !important;
	font-size: 24px;
	font-style: normal !important;
	font-weight: 400 !important;
}

.material-icons[style*="color:#FBC02D"] {
	color: var(--verified-color) !important;
}

.material-icons[style*="color:#40C4FF"] {
	color: var(--verified-color) !important;
}

.menuLink {
	font-size: 1vw !important;
	pointer-events: auto !important;
}

.menuTab {
	background-color: rgba(100, 100, 100, .75) !important;
	border-radius: 0vw !important;
	color: rgba(255, 255, 255, 1) !important;
	cursor: pointer !important;
	display: inline-block !important;
	font-size: 1.16vw !important;
	margin-right: .66vw !important;
	padding: .25vw .75vw !important
}

.menuTabsNew {
	border-radius: 0;
	background-color: transparent;
}

.menuTabNew {
	color: var(--accent-color);
}

.menuTabNew:hover {
	color: #fff;
	box-shadow: none !important;
}

.tabANew {
	color: #fff !important;
	box-shadow: none !important;
}

#profilePicM {
	border-radius: 0;
}

.searchBtn {
	background-color: rgba(0, 0, 0, 0);
	color: var(--accent-color)
}

.searchBtn:hover {
	color: #fff
}

#mpSrch, #mdSrch {
	background-color: rgba(0, 0, 0, .3) !important;
	border-radius: 0
}

.selctBtn {
	background-color: #570030 !important;
	border-radius: 0vw !important;
	color: #fff !important;
	cursor: pointer !important;
	font-size: .825vw !important;
	margin-left: .25vw !important;
	margin-top: -3.75vw !important;
	padding: .5vw !important;
	pointer-events: auto !important;
	text-align: center !important;
	width: 6.5vw !important
}

.setHed {
	color: #fff;
}

.settLabel {
	font-size: 18px;
	color: var(--accent-color);
}

.settSubName {
	clear: both !important;
	color: var(--accent-color) !important;
	font-size: .825vw !important;
	margin-top: .5vw !important;
	margin-left: 1vw !important;
	width: 100%
}

.settName, .settNameSmall {
	color: var(--accent-color);
	font-size: 18px;
	margin-top: 10px;
}

.wepLink {
	color: var(--accent-color);
}

.skinCard {
	background-color: rgba(0, 0, 0, .3) !important;
	border-radius: 0vw !important;
	color: #fff;
	display: inline-block;
	font-size: .825vw !important;
	/* height: fit-content !important; */
	margin-bottom: .5vh !important;
	margin-left: .25vw !important;
	margin-top: .5vh !important;
	margin-right: .25vw !important;
	overflow: visible !important;
	pointer-events: none !important;
	position: relative !important;
	text-align: center !important;
	text-overflow: ellipsis !important;
	vertical-align: top !important;
	white-space: nowrap !important;
	width: 10.75vw !important;
	z-index: 1 !important
}

.skinColorItem {
	border: 0vw solid #000;
	border-radius: 0vw !important;
	cursor: pointer !important;
	float: right !important;
	height: 1vw !important;
	margin-left: .5vw !important;
	text-align: center !important;
	vertical-align: text-top !important;
	width: 1vw !important
}

.skinColorItem:hover {
	border-radius: 0vw !important
}

.slidecontainer {
	float: right !important;
	margin-right: .5vw !important;
	margin-top: 0 !important;
	width: 15vw !important
}

.slider {
	-webkit-transition: .4s !important;
	background-color: rgba(0, 0, 0, .3) !important;
	border-radius: 20px !important;
	bottom: 0 !important;
	cursor: pointer !important;
	left: 0 !important;
	position: absolute !important;
	right: 0 !important;
	top: 0 !important;
	transition: .4s !important
}

.slider:before {
	background-color: #fff !important;
	border-radius: 20px !important;
	bottom: .15vw !important;
	content: "" !important;
	height: 1.1vw !important;
	left: .25vw !important;
	position: absolute !important;
	transition: .4s !important;
	width: 1.1vw !important
}

.slider2 {
	background-color: rgba(0, 0, 0, .3) !important;
	border-radius: 20px !important;
}

.slider2:before {
	background-color: #fff !important;
	border-radius: 20px !important;
}

.sliderM {
	-webkit-appearance: none !important;
	background-color: rgba(0, 0, 0, .3) !important;
	border-radius: 0px !important;
	height: 1vh !important;
	outline: 0 !important;
	width: 100% !important
}

.sliderMsub {
	outline: 0 !important;
	width: 80% !important;
	height: .5vw !important
}

.sliderSml {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, .3);
}

.sliderSml:before {
	-webkit-transition: .4s !important;
	background-color: #fff !important;
	border-radius: 20px !important;
	bottom: .133vw !important;
	content: "" !important;
	height: 1vw !important;
	left: .125vw !important;
	position: absolute !important;
	transition: .4s !important;
	width: 1vw !important
}

.sliderVal {
	background: var(--accent-color) !important;
	border-radius: 20px !important;
	color: #fff !important;
	float: right !important;
	font-size: .75vw !important;
	line-height: 1vh !important;
	margin-left: .5vw !important;
	padding-left: .25vw !important;
	padding-right: .25vw !important;
	padding-top: .5vh !important;
	padding-bottom: .25vh !important;
	position: relative !important;
	text-align: center !important;
	top: .25vh !important;
	height: 1.25vh !important;
	width: 2.5vw !important
}

.twitchBadge {
	height: 2vh;
	width: auto;
	position: relative;
	margin: 0;
	padding: 0;
	top: .25vw;
	margin-right: .125vw
}

.twitchEmote {
	height: 3vh;
	width: auto;
	position: relative;
	margin: 0;
	top: .25vw;
	padding: 0
}

.sliderValsub {
	background: var(--accent-color) !important;
	border-radius: 0vw !important;
	color: #fff !important;
	float: right !important;
	font-size: .75vw !important;
	line-height: .8vw !important;
	margin-left: -2.5vw !important;
	margin-right: 4.5vw !important;
	padding: .25vw !important;
	position: relative !important;
	text-align: center !important;
	top: .1vw !important;
	width: 2.5vw !important
}

.smlInput {
	background-color: rgba(0, 0, 0, .3)!important;
	border-radius: 20px !important;
	border: none !important;
	box-sizing: border-box !important;
	color: rgba(255, 255, 255, 1) !important;
	display: inline-block !important;
	font-size: .85vw !important;
	margin-top: .25vw !important;
	padding: .5vw !important;
	width: 82% !important
}

.switch {
	float: right !important;
	height: 1.4vw !important;
	position: relative !important;
	width: 3vw !important
}

.switchsml {
	float: right !important;
	height: 1.25vw !important;
	margin-bottom: 0;
	margin-left: .5vw !important;
	pointer-events: all !important;
	position: relative !important;
	vertical-align: bottom !important;
	width: 2.5vw !important
}

.xpBar {
	background-color: rgba(0, 0, 0, .5) !important;
	border-radius: 0vw !important;
	height: 1vw !important;
	margin-bottom: .25vw !important;
	margin-top: .25vw !important;
	padding: .25vw !important;
	position: relative !important;
	width: 98.5% !important
}

.xpBarB {
	background-color: var(--accent-color) !important;
	border-radius: 0vw !important;
	height: 100% !important
}

.xpBarV {
	color: #fff !important;
	font-size: .75vw !important;
	height: 100% !important;
	left: 0 !important;
	position: absolute !important;
	right: 0 !important;
	text-align: center !important;
	top: .25vw !important
}

a {
	cursor: pointer !important;
	pointer-events: all !important;
	text-decoration: none !important;
	text-shadow: none !important
}

input:checked+.slider {
	background-color: var(--accent-color) !important;
}

input:checked+.slider:before {
	transform: translateX(1.45vw) !important
}

input:checked+.sliderSml:before {
	transform: translateX(1.2vw) !important
}

input:checked+.slider2 {
	background-color: var(--accent-color) !important;
}

.hostToggle {
	border-radius: 0;
	background-color: transparent;
	color: var(--accent-color);
}

.hostToggle:hover {
	color: #fff;
}

.hostOpt {
	border-radius: 0;
	border: none;
	background-color: rgba(0, 0, 0, .3);
}

.optCheck {
	border-radius: 0;
	background-color: transparent;
	text-shadow: none;
}

input:checked+.optCheck {
	background-color: var(--accent-color);
}

#presetSelect {
	border-radius: 20px !important;
	background-color: rgba(0, 0, 0, .3) !important;
}

#menuKRCount, span.floatR {
	font-size: 16px;
}

.settText {
	color: var(--accent-color)
}

.xpBarB {
	color: var(--accent-color);
}

.followBut {
	color: var(--accent-color);
}

.mapLoadButton {
	color: var(--accent-color);
}

.hostPresetBtn {
	color: var(--accent-color);
}

.equipBtn {
	color: var(--accent-color);
}

.quickJoin {
	border-radius: 0px;
	background-color: var(--accent-color);
	font-size: 13px;
	padding: 4px;
	cursor: pointer;
	pointer-events: all;
	float: right;
	z-index: 99999;
	margin-left: 0;
	color: #fff;
	margin-bottom: 5px;
	vertical-align: middle
}

input:checked+.sliderSml {
	background-color: var(--accent-color);
}

input:focus+.sliderSml {
	box-shadow: 0 0 1px var(--accent-color);
}

#customizeButton {
	width: 15vw !important;
	text-align: center !important;
	position: absolute !important;
	top: 28vh;
}

.sliderM::-webkit-slider-thumb {
	background: var(--accent-color);
	height: 2vh !important;
	width: 1vh !important;
	border-radius: 0;
}

.sliderM::-moz-range-thumb {
	background: var(--accent-color);
	height: 2vh !important;
	width: 2vh !important;
}

span.settText.floatR {
	color: var(--accent-color);
	font-size: 1vw !important
}

.rankedParty {
	border-width: 0;
	border: none;
	margin-top: -5px;
	display: inline-block;
	font-size: 18px;
	width: 250px;
	padding: 8px;
	padding-left: 12px;
	border-radius: 0;
	background-color: rgba(0, 0, 0, .1)
}

#queueRegionSelect {
	margin-top: 0;
	background: rgba(0, 0, 0, .3);
	border: none;
	border-radius: 0;
	color: rgba(255, 255, 255, 1) !important;
	float: right !important;
	font-size: .75vw !important;
	height: 1.5vw;
	padding: .125vw !important;
	text-overflow: ellipsis !important
}

.partyAvatar {
	border-radius: 0;
}

.partyUsername>span {
	color: var(--accent-color);
}

.reqW {
	border-radius: 0;
	background-color: transparent;
}

.reqW.login:hover {
	background-color: transparent;
}

.reqWLvl {
	color: var(--accent-color);
	margin-top: 10%;
}

.reqWTxt {
	color: var(--accent-color);
}

.material-icons.reqWIcon {
	display: none;
}

.rankedSelection {
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
	height: 16vh;
	width: 33%;
	margin-left: 5px;
	padding-left: 4px;
	display: inline-block;
	border-radius: 0;
}

.rankedWarning {
	border-radius: 0;
	background-color: transparent;
	color: #fff;
}

.hostMapName {
	font-size: 1vw;
}

.rankedType {
	position: absolute;
	font-size: 2vw;
	color: #fff;
	line-height: 3vw;
	z-index: 1;
	width: 100%;
	text-align: center;
	top: auto !important;
	right: auto !important;
	left: auto !important;
	text-shadow: 0 0 .5vw rgba(0, 0, 0, 0) !important
}

.blackShad {
	text-shadow: 0 0 .5vw rgba(0, 0, 0, 0) !important
}

.rankedELOTxt {
	position: absolute;
	font-size: 1.25vw;
	color: #fff;
	z-index: 1;
	width: 100%;
	bottom: 2.5vh;
	text-align: center;
	cursor: pointer;
	top: auto !important;
	left: auto !important;
	right: auto !important
}

.rankedSelection input {
	display: none
}

.rankedImg {
	position: absolute;
	cursor: pointer;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all .2s
}

.joinQueue {
	border-radius: 0px;
	color: var(--accent-color);
	text-align: center;
	margin-top: 12px;
	display: inline-block;
	-webkit-transition: .1s;
	transition: .1s;
	width: 705px;
	height: 60px;
	line-height: 50px;
	cursor: pointer;
	box-shadow: none;
	background-color: transparent;
	font-size: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-shadow: none;
}

.joinQueue:hover {
	height: 60px;
	margin-top: 12px;
	box-shadow: none;
	color: #fff;
}

.jQR {
	box-shadow: none !important;
	background-color: transparent !important;
}

.jQR:hover {
	box-shadow: none !important;
}

#ammoDisplay {
	background-color: transparent;
	letter-spacing: 0;
	width: 100px;
	height: 65px;
	border-radius: 0;
	position: fixed;
	right: 31%;
	bottom: 25%;
	padding: 0;
	padding-top: 0;
	padding-left: 0;
}

#ammoVal {
	color: #fff;
	font-family: hpammo;
	font-size: 48px;
	font-weight: 500;
	margin-left: 12px;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#ammoMax {
	display: none;
}

#ammoIcon {
	display: none;
}

#reloadMsg {
	background: transparent !important;
}

#chatInput {
	background-color: transparent !important;
}

#chatHolder {
	bottom: 20px !important;
}

.chatItem {
	border-radius: 0;
}

#weapDisplay {
	bottom: 50%;
	transform: translateY(50%);
}

#curGameInfo {
	display: none;
}
/* latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-image: url(https://cdn.discordapp.com/attachments/594749445791547395/711855228529541230/backgrounde_1.png);
    background-size: cover;
    font-family: Fredoka One;
}

* {
    font-family: Fredoka One;
}
/*background-color*/
#aHolder, #pre-content-container {
		display: none !important
}
/* hides ad */
.scrollItem {
    vertical-align: top;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 680px;
    text-align: left;
    background-color: #fff;
    -webkit-box-shadow: 0 7px 0 0 #d8d8d8;
    -moz-box-shadow: 0 7px 0 0 #d8d8d8;
    box-shadow: 0 7px 0 0 #d8d8d8;
    display: inline-block;
    border-radius: 12px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
}
/* hides bottom bar */
#navBar {
    background-color: #111;
}
/* navbar color */
#navTitle {
    display: none;
}
/* Krunker link moved to the left */
.leaderNav {
    margin-top: -90px;
    margin-bottom: 20px;
    padding-top: 4px;
}
/* navbar into top bar */
.leaderBtn {
    background-color: #0000!important;
}
#profileLogin {
    z-index: 1;
}

.purchBtn {
    background-color: transparent;
    color: transparent;
    margin-top: -240px;
    height: 240px;
    width: 200px;
    border-radius: 7px;
}
/* info button is now as big as the whole card and invisible */
.purchBtn:hover {
    opacity: .2;
    background-color: #999;
}
/* info button hover */
.itemOwn {
    color: transparent;
}
/* hides the item class, e.g. sniper, back item */
.marketCard {
    border: none!important;
    transition-duration: 0.32s !important;
}
.marketCard {
    margin-bottom: 10px;
    background-color: #ffffff1c;
}
.marketCard {
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 210px;
    height: 215px;
    vertical-align: top;
    border-radius: 32px;
    display: inline-block;
    z-index: 1;
    pointer-events: auto;
    cursor: pointer;
}
.purchInfoBtn {
    background-color: #111;
    color: #555;
    z-index: 11;
    position: relative;
}
/* hides bottom bar */
.purchInfoBtn:hover {
    background-color: #0036a2;
}

.marketPrice {
    color: rgba(255,255,255,.7);
    position: absolute;
    top: 198px;
    left: 5px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    border-radius: 32px;
    text-shadow: none;
    padding: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 10px;
}

.marketPrice {
    color: #f4f4f4;
}

/* price color */
#marketSearchB,
#filterTog,
#filterRBtn {
    background-color: #4dcafe;
    color: #2f2f2f;
    transition-duration: 0.4s;
    border-radius: 32px;
}
/* buttons color change */
#marketSearchB:hover,
#filterRBtn:hover,
#filterTog:hover {
    background-color: #2196f3;
    color: #2f2f2f;
}
input:checked + .sliderSml {
    background-color: #4dcafe;
}

::-webkit-scrollbar-track {
    background-color: #111;
    border-radius: 0;
}
/*scrollbar color change*/
::-webkit-scrollbar-thumb {
    background-color: #222;
}

#sortFilt {
    overflow: clip!important;
}

#profileKR {
    color: #ffc147;
}
/* KR color */
#marketFiltTxt {
    color: white;
    background-color: #222;
}
/* search filter color */
#sortFilt,
#seaFilt {
    background-color: #111;
    color: white;
}
#sortFilt *,
#seaFilt * {
    background-color: #111;
    color: white;
}

.lds-ring {
    /* new loading animation */
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #4dcafe transparent #4dcafe transparent;
    animation: lds-ring 1.2s infinite;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
.lds-ring div {
    visibility: hidden;
}




/* social pages */
.scrollItem {
	background-color: #4a6c59;
    background-image: linear-gradient(315deg, #5a835b 0%, #0d324d 69%);
    box-shadow: none;
    border-radius: 32px;
    color: #4dcafe;
}
.scrollItem div,
.scrollItem a,
.scrollItem span {
    color: white;
    border-radius: 32px;
}
a.lName {
    color: #4dcafe!important;
}

.pSt strong {
    color: #4dcafe;
}
.membSinc span {
    color: lightgrey!important;
}

#popupBack {
    width: 364px;
    height: 210px;
    padding: 10px;
    background-image: url(https://cdn.discordapp.com/attachments/594749445791547395/714424206116388924/close_2.png);
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    top: 30%;
    left: 250%;
    background-color: rgba(255, 255, 255, 0);
}



#filterPop, #sortPop {
    width: 390px;
    pointer-events: auto;
    border-radius: 10px;
    background-image: rgba(0, 0, 0, .75);
    padding: 15px;
    text-align: left;
    position: relative;
    top: -300%;
    left: 145%;
    transform: translate(-50%, -60%);
    color: #fff;
}

#popupHolder {
    display: none;
    text-align: center;
    width: 30%;
    height: 13%;
    position: absolute;
    top: 75%;
    left: 5%;
    z-index: 20;
}

.purchInfoBtn {
    font-size: 12px;
    color: #71717163;
    background-color: #0f0f0f;
    padding: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 9999999;
    position: absolute;
    text-align: center;
    border-radius: 4px;
    text-shadow: none;
    top: 10px;
    right: 6px;
}


#marketSearchB {display:inline-block!important;}
.marketCard {border:none!important;}

#popupContent {
    pointer-events: auto;
    border-radius: 32px;
    padding: 15px;
    text-align: left;
    position: absolute;
	top: -15vw;
    left: 145%;
    transform: translate(-50%,-60%);
    color: #fff;
	background-color: #4a6c59;
    background-image: linear-gradient(315deg, #5a835b 0%, #0d324d 69%);
}
::-webkit-scrollbar-thumb {
    background-color: #777;
}
::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    border-radius: 32px;
}
.button.lgn {
    z-index: 1;
    border-radius: 36px;
	background-color: #259bf5!important;
	box-shadow: inset 0 -7px 0 0 #04ff00!important;
    color: #4dcafe;
}
.buttonT {
    border-radius: 36px;
	background-color: #259bf5!important;
	box-shadow: inset 0 -7px 0 0 #04ff00!important;
    transition-duration: 0.25s !important;
}
.buttonF {
    border-radius: 36px;
	background-color: #259bf5!important;
	box-shadow: inset 0 -7px 0 0 #04ff00!important;
    color: #4dcafe;
}
.buttonG {
    border-radius: 36px;
	background-color: #259bf5!important;
	box-shadow: inset 0 -7px 0 0 #04ff00!important;
    transition-duration: 0.25s !important;
}
.buttonR {
    border-radius: 36px;
	background-color: #259bf5!important;
	box-shadow: inset 0 -7px 0 0 #04ff00!important;
    transition-duration: 0.25s !important;
}
.buttonC {
    border-radius: 36px;
	background-color: #259bf5!important;
	box-shadow: inset 0 -7px 0 0 #04ff00!important;
    transition-duration: 0.25s !important;
}
.pSt {
    border-radius: 36px;
}
.classCard {
    border-radius: 36px;
}
.pItemButton {
    color: #4dcafe;
	border-radius: 32px;
    background-color: #2f2f2f;
    transition-duration: 0.25s;
}
#sellPriceIn {
    border-radius: 36px;
    background-color: #2f2f2f !important;
    color: #4dcafe !important;
    border-color: transparent;
    
}
.pTabs {
    border-radius: 36px;
}
.clsXPBarV {
    border-radius: 36px;
}
.membSinc span {
    color: #04ff009e !important;
}
.scrollItem div, .scrollItem a, .scrollItem span {
    color: #04ff009e;
}
.floatR {
	text-align: right;
}
#navTitle {
    left: 25%;
    color: #c87eff;
}
#loginPop {
    pointer-events: auto;
    border-radius: 32px;
    padding: 15px;
    text-align: left;
    position: absolute;
	top: -15vw;
    left: 145%;
    transform: translate(-50%,-60%);
    color: #2f2f2f;
    width: 372px;
	background-color: #4a6c59;
    background-image: linear-gradient(315deg, #5a835b 0%, #0d324d 69%);
}
#giftPop {
	top: -15vw;
    left: 145%;
	background-color: #4a6c59;
    background-image: linear-gradient(315deg, #5a835b 0%, #0d324d 69%);
    border-radius: 36px;
}
#reportPop {
	top: -15vw;
    left: 145%;
	background-color: #4a6c59;
    background-image: linear-gradient(315deg, #5a835b 0%, #0d324d 69%);
    border-radius: 36px;
}
#reportTxt {
	border-radius: 22px;
    background-color: #2f2f2f;
	color: #4dcafe;
    border-color: transparent;
}
#reportBtn {
    border-radius: 22px;
    background-color: #2f2f2f;
	color: #4dcafe;
	transition-duration: 0.4s;
}
#giftIn {
    width: 350px;
    padding-left: 10px;
    text-align: left;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 32px;
    margin-bottom: 5px;
    margin-right: 4px;
    background-color: #2f2f2f;
    border-color: transparent;
    color: #4dcafe;
}
#giftMsg {
    width: 352px;
    padding-left: 10px;
    text-align: left;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 24px;
    margin-right: 4px;
    margin-bottom: -5px;
    background-color: #2f2f2f;
    border-color: transparent;
}
#regionSelect {
	border-radius: 32px;
}
.pItemButton2 {
    color: #4dcafe;
    border-radius: 32px;
}
.accountInput {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 22px;
    box-sizing: border-box;
    border: none;
    background-color: #2f2f2f !important;
    color: #ffffff8c;
    border-radius: 32px;
}
.accountButton {
    color: rgba(180, 98, 255, 0.7);
    background-color: #2f2f2f;
    border-radius: 32px;
    transition-duration: 0.4s;
}
.menuItem {
	transition-duration: 0.25s;
}
#marketList {
    margin-top: 25px;
    max-height: 1200px;
}
.popupImgInfo {
	border-radius: 28px;
}
.popupImgH {
	border-radius: 28px;
}
.purchInfoBtn {
	color: #4dcafe;
}
.cardEst {
	border-radius: 36px;
    border: 5px;
    background-color: transparent;
}
#invTrack, #invValue {
	border-radius: 36px;
    margin-top: 85px !important;
}
#invTrack {
	margin-left: 245px !important;
}
#invValue {
	margin-right: 245px !important;
}
#tradePop {
	top: -15vw;
    left: 145%;
    border-radius: 36px;
	background-color: #4a6c59;
    background-image: linear-gradient(315deg, #5a835b 0%, #0d324d 69%);
}
#offerPop {
	top: -15vw;
    left: 145%;
    border-radius: 36px;
	background-color: #4a6c59;
    background-image: linear-gradient(315deg, #5a835b 0%, #0d324d 69%);
}

.pItemDesc {
    color: #4dcafe;
    font-size: 16px;
}
.pItemOwn {
    color: #04ff00 !important;
}
.pItemTime {
    position: absolute;
    bottom: 70px;
    font-size: 15px;
    font-style: italic;
    color: #4dcafe;
}
#m_stats {
	background-color: #4dcafe !important;
    border-radius: 16px;
    transition-duration: 0.4s;
}
#m_stats:hover {
	background-color: #2196f3 !important;
    border-radius: 16px;
}
.pItemRar {
    float: right;
    font-size: 18px;
    vertical-align: top;
    display: inline-block;
    color: rgba(0, 0, 0, 0.73) !important;
}
#sellPricFee {
    margin-right: 2px;
    color: rgba(0, 0, 0, 0.69);
    margin-bottom: 6px;
}
.pItemOwn:visited {
    color: #04ff00;
}
#searchPInput, #searchBtn {
	z-index: 50000 !important;
    position: fixed !important;
    border-radius: 32px;
    background-color: #2f2f2f;
    color: #4dcafe;
}
#searchBtn {
	margin-left: 11vw;
}
.tSubOffer {
    border-radius: 36px;
	background-color: #259bf5!important;
	box-shadow: inset 0 -7px 0 0 #04ff00!important;
}
.filterNav {
	border-radius: 32px;
}
#marketFiltTxt, #invSortTxt, #seaSort {
	color: #4dcafe;
    background-color: #2f2f2f;
}
#invSortB {
	border-radius: 32px;
    color: #2f2f2f;
}
.leaderText {
    max-width: 450px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
}
.floatR {
    margin-left: -75px;
}
