#menuWindow {
    position: absolute;
    left: 50%;
    bottom: 220px;
    border-radius: 6px;
    max-height: calc(100% - 480px);
    transform: translateX(-50%);
    z-index: 2;
    overflow-y: auto;
    display: inline-block;
    text-align: left;
    pointer-events: auto;
    padding: 20px;
    width: 705px;
    font-size: 20px;
    background-color: #000000bf;
    -webkit-box-shadow: 0 9px 0 0 #000000;
    -moz-box-shadow: 0 9px 0 0 #a6a6a6;
    box-shadow: 0 9px 0 0 #ff0000;
}

.menuItem {
    color: #fff;
    flex-grow: 1;
    display: flex;
    transition: all .1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(0 0 0 / 40%);
    text-align: center;
    pointer-events: all;
    cursor: pointer
}

.settName,.settNameSmall {
    clear: both;
    margin-top: 3px;
    font-size: 22px;
    color: rgb(255 0 0 / 61%)
}

#requiresRestart {
    float: right;
    color: rgb(255 0 0 / 50%);
    font-size: 18px
}

.settingsHeader {
    width: 100%;
    padding-top: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: -.5px;
    z-index: 999999999;
    background-color: #0000;
    padding-left: 20px;
    margin-left: -20px
}

#settSearch {
    width: 100%;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    background-color: #ffffff24;
    border-radius: 4px;
    padding: 6px 10px 5px
}

.settingsBtn {
    color: rgb(255 255 255 / 87%);
    text-align: center;
    display: inline-block;
    width: 75px;
    cursor: pointer;
    background-color: #ff0000e8;
    font-size: 17px;
    padding: 4px 8px;
    margin-left: 8px;
    float: right;
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.inputGrey2 {
    border: none;
    background: #353535d6;
    padding: 6px;
    padding-bottom: 6px;
    float: right;
    margin-left: 10px;
    font-size: 12px;
    border-radius: 4px
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px
}

input:checked+.slider {
    background-color: #ff0000
}

.sliderM::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    border-radius: 4px;
    background: #ff0000;
    cursor: pointer
}

.sliderVal {
    float: right;
    display: inline-block;
    position: relative;
    width: 50px;
    color: #000;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    background: #ff0000;
    padding: 5px 10px;
    margin-left: 8px;
    margin-right: -10px;
    border-radius: 6px
}

.mailFrom {
    font-size: 18px;
    color: #ff0000
}

.changeText {
    margin-top: 3px;
    margin-bottom: 3px;
    color: rgb(135 135 135)
}

.buttonP {
    background-color: #FF0000!important;
    box-shadow: inset 0 -7px 0 0 #FFF!important
}

.buttonR {
    background-color: #FF0000!important;
    box-shadow: inset 0 -7px 0 0 #FFF!important
}

.buttonG {
    background-color: #FF0000!important;
    box-shadow: inset 0 -7px 0 0 #FFF!important
}

.buttonPI {
    background-color: #FF0000!important;
    box-shadow: inset 0 -7px 0 0 #FFF!important
}

.button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 18px;
    padding-top: 14px;
    margin-bottom: 6px;
    background-color: #ffc147;
    box-shadow: inset 0 -7px 0 0 #b08531;
    text-align: center;
    color: #ffffff;
    text-shadow: -1px -1px 0 #202020,1px -1px 0 #202020,-1px 1px 0 #202020,1px 1px 0 #202020,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.terms {
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
    color: rgb(255 0 0);
    text-decoration: none;
    pointer-events: all;
    display: inline-block
}

#mapInfo {
    color: #000;
    font-size: 20px;
    margin-bottom: 10px
}

.serverHeader {
    width: 100%;
    padding-top: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999999;
    background-color: #0000;
    display: table;
}

.quickJoin {
    border-radius: 3px;
    background-color: #ff0000;
    font-size: 13px;
    padding: 4px;
    cursor: pointer;
    pointer-events: all;
    z-index: 99999;
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    margin-bottom: 5px;
    vertical-align: middle;
    text-shadow: -1px -1px 0 #1c1c1c,1px -1px 0 #1c1c1c,-1px 1px 0 #1c1c1c,1px 1px 0 #1c1c1c,-2px -2px 0 #1c1c1c,2px -2px 0 #1c1c1c,-2px 2px 0 #1c1c1c,2px 2px 0 #1c1c1c;
    -webkit-transition: all .02s;
    transition: all .02s
}

.slider2:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px
}

.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px
}

input:checked+.slider2 {
    background-color: #ff0000
}

a {
    cursor: pointer;
    text-shadow: none;
    color: #ff0000;
    text-decoration: none;
    pointer-events: all
}

.changeText {
    margin-top: 3px;
    margin-bottom: 3px;
    color: rgb(255 0 0)
}

* {
    outline: none;
    font-family: gamefont;
    color: #ff0000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.optCheck {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    padding: 10px;
    width: auto;
    height: auto;
    background-color: #585858
}

input:checked+.optCheck {
    background-color: #ff0000
}

.hostToggle {
    color: #000;
    text-align: center;
    display: inline-block;
    width: 75px;
    cursor: pointer;
    background-color: #ff0000;
    font-size: 15px;
    padding: 4px;
    float: right;
    border-radius: 4px
}

.hostPresetBtn {
    color: rgb(0 0 0);
    text-align: center;
    display: inline-block;
    width: 75px;
    cursor: pointer;
    background-color: #ff0000;
    font-size: 15px;
    padding: 4px;
    margin-left: 10px;
    margin-top: 5px;
    float: right;
    border-radius: 6px
}

a:visited {
    color: #ff0000
}

.joinQueue {
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    -webkit-transition: .1s;
    transition: .1s;
    width: 705px;
    height: 60px;
    line-height: 50px;
    cursor: pointer;
    box-shadow: inset 0 -10px 0 0 #ffffff;
    background-color: #ff0000;
    font-size: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-shadow: -1px -1px 0 #202020,1px -1px 0 #202020,-1px 1px 0 #202020,1px 1px 0 #202020,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020,-3px -3px 0 #202020,3px -3px 0 #202020,-3px 3px 0 #202020,3px 3px 0 #202020
}

.settText {
    cursor: pointer;
    color: #ff0000;
    font-size: 22px;
    pointer-events: auto
}

.loadoutBtn {
    color: rgb(255 255 255);
    text-align: center;
    display: inline-block;
    width: 75px;
    cursor: pointer;
    background-color: #ff0000;
    font-size: 15px;
    padding: 4px;
    margin-left: 10px;
    margin-top: 5px;
    float: right;
    border-radius: 6px
}